name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  print_hello_world:
    runs-on: ubuntu-latest

    steps:
      - name: Pring Hello
        id: printmsg
        run: echo "Hello world!"
      
